
body {
  margin: 60px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chart {
  position: relative;
  height:35vh;
  width:45vw;
}

.buttone {
  margin: 20px;
  width: 300px;
  padding-top: 10px;
}

.selector {
  width: 600px;
  margin-top: 20px;
  margin-left: 28px;
}


.top-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detail {
  margin-left: 50px;
}

.weather-icon {
  padding: 20px;
}

.MuiCardContent-root {
  text-align: center;
  animation: fadeIn 5s;
 /* background-color: #eff6f6;*/
}

.MuiCard-root {
}

h1 {
  margin-left: -64px;
  padding-top: 20px;
  width: 440px;
  text-align: center;

}

#simple-tab-0 {
  margin-left: 20px;
}

.css-19kzrtu {
  margin-left: -30px;
  width: 500px;
  flex-direction: row;
  vertical-align: middle;
  align-content: center;
  /*paper*/
}

.css-ahj2mt-MuiTypography-root {
  vertical-align: middle;
  align-content: center;
  /*typography*/
}

.arrowblock {
  height: 200px;
  margin-top: 120px;
  display: flex;
  vertical-align: middle;
  align-content: center;
  cursor: pointer;
}

.back {
  margin-left: 20px;
  margin-right: 10px;
}

.forward {
  margin-left: 10px;
}
.css-1dmqq99-MuiPaper-root-MuiCard-root {
  display: inline-block;
  align-content: center;
  /*paper*/
}

.carousel {
  margin-top: 20px;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
}

header {
}

.cardblock {
  animation: fadeIn 5s;
/*  @keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }*/
}

svg {
  color: gray;
}